:host {
  display: flex;
  height: 100%;
  width: 100%;
}

.app-layout {
  height: 100%;
}

.top-nav {
  line-height: 4rem;
}

.logo {
  float: left;
  height: 4rem;
  padding-right: 1.5rem;
  line-height: 4rem;
  background: #001529;
}

.logo img {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
}

.logo h1 {
  display: inline-block;
  margin: 0 0 0 0.9375rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.25rem;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

nz-content {
  padding: 0;
  flex: 1;
  min-height: 0;
  display: flex;
}

.inner-content {
  padding: 0;
  background: transparent;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}